* {
    font-family: 'Muli';
    font-weight: normal;
    color: #555555;
    line-height: 1.2;
    font-size: 14px;
    @media #{$mobile} {
        font-size: 13px;
    }
}

html {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #e3e7e8;
    margin: 0px;
    height: 100%;
    &.modal-open {
        overflow: hidden;
    }
}

header,
main,
article,
section,
footer {
    float: left;
    width: 100%;
}

footer,
.push {
    width: 100%;
    display: inline-block;
    height: 80px;
}

.push {
    height: 80px;
    &.expandir {
        @media #{$desktop} {
            height: 450px;
        }
        @media #{$tablet} {
            height: 650px;
        }
        @media #{$mobile} {
            height: 650px;
        }
    }
}

footer {
    background-color: #006a94;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    @media #{$mobile} {
        height: 100px;
    }
    &.pedidos {
        padding: 20px;
    }
    &.niveles-por-estanque {
        padding: 20px;
        >div>div>div {
            &:nth-child(2),
            &:last-of-type {
                padding-top: 10px;
            }
            &:last-of-type {
                text-align: right;
                padding-right: 20px;
                @media #{$mobile} {
                    text-align: center;
                    padding-right: 0;
                }
            }
        }
        strong,
        span {
            color: #ffffff;
        }
        .link {
            text-transform: uppercase;
        }
    }
    &.detalle-producto {
        padding-top: 20px;
        @media #{$mobile} {
            height: 170px;
            padding-top: 30px;
        }
        .left,
        .right {
            position: relative;
            i {
                position: absolute;
                top: 2.5px;
                font-size: 24px;
                color: #ffffff;
            }
        }
        .left {
            @media #{$mobile} {
                margin-bottom: 15px;
            }
            i {
                left: 20px;
            }
        }
        .right {
            i {
                right: 20px;
            }
        }
    }
    &.pago-en-linea {
        padding-top: 20px;
        @media #{$mobile} {
            height: 165px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .row {
            >div:nth-child(1) {
                text-align: right;
                padding-right: 20px;
                padding-top: 5px;
                strong,
                span {
                    color: #ffffff;
                }
                span {
                    font-weight: 300;
                    @media #{$mobile} {
                        display: block;
                        margin-bottom: 30px;
                    }
                }
                @media #{$mobile} {
                    text-align: center;
                }
            }
            >div:nth-child(2) {}
        }
        .btn {
            @media #{$mobile-y-tablet} {
                width: 100%;
            }
        }
    }
}

a {
    color: #555555;
    &:hover {
        text-decoration: none;
    }
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    color: #666666;
    margin-bottom: 15px;
    strong {
        font-size: 22px;
    }
    small {
        font-size: 13px!important;
    }
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 20px;
    span {
        font-weight: normal;
        font-size: 18px;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5);
    border: solid 1px #b2b5b8;
}

input[type="text"],
input[type="password"] {
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    box-shadow: inset 0 0 2px 0 #999999;
    padding: 5px 10px;
}

textarea {
    width: 100%;
    height: 140px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    box-shadow: inset 0 0 2px 0 #999999;
    padding: 5px 10px;
}

.fs-14 {
    font-size: 14px;
    @media #{$mobile} {
        font-size: 14px;
    }
}

.form-group {
    &.error {
        input {
            border: 1px solid #EC6F77;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        }
        small {
            display: inline-block;
            font-size: 14px;
            margin-top: 10px;
            color: #EC6F77;
        }
    }
}

main {
    //    padding-top: 54px;
    margin-bottom: -80px;
    min-height: 100%;
    @media #{$mobile} {
        margin-bottom: -100px;
    }
}

header {
    margin-bottom: 57px;
    @media #{$mobile-y-tablet} {
        margin-bottom: 30px;
    }
}

aside {
    width: 420px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-transform: translateX(420px);
    -ms-transform: translateX(420px);
    transform: translateX(420px);
    background-color: #ffffff;
    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    @media #{$mobile-y-tablet} {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        background-color: transparent;
        width: 100%;
        height: auto;
        height: 100%;
        padding-bottom: 30px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        z-index: 999;
    }
    hr {
        border: solid 1px #e7e7e7;
        box-shadow: none;
    }
    section:nth-child(1) {
        background-color: $color-azul1;
        color: #ffffff;
        height: 50px;
        padding-top: 15px;
        padding-left: 20px;
        i {
            font-size: 14px;
            color: #ffffff;
            cursor: pointer;
            margin-right: 15px;
        }
        h3 {
            color: #ffffff;
            display: inline-block;
        }
    }
    section:nth-child(2) {
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        p {
            font-size: 14px;
        }
        .box-gris {
            position: relative;
            width: 100%;
            float: left;
            background-color: #f1f1f1;
            padding: 20px 30px 30px 30px;
            border: solid 1px #e7e7e7;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            @media #{$mobile-y-tablet} {
                left: -30px;
                width: calc(100% + 60px);
            }
            strong {
                display: inline-block;
                margin-bottom: 22px;
            }
            span:not(.input-group-addon) {
                font-size: 12px;
                font-weight: 300;
                display: inline-block;
            }
            output {
                color: $color-azul1;
                font-size: 28px;
            }
            &.guias {
                padding-right: 60px;
                padding-left: 20px;
                padding-top: 15px;
                padding-bottom: 20px;
                b {
                    text-transform: uppercase;
                    line-height: 1.9;
                }
            }
        }
        .link {
            color: #108cbd;
        }
        .link-cancelar {
            color: #108cbd;
            text-transform: uppercase;
            margin-top: 25px;
            display: inline-block;
            text-decoration: underline;
        }
        .link-descargar-circulo {
            width: 34px;
            height: 34px;
            display: block;
            background-color: #ffffff;
            text-align: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            padding: 5px;
            position: absolute;
            top: calc(50% - 17px);
            right: 13px;
            i {
                color: #108cbd;
                font-size: 20px;
            }
            &.azul {
                background-color: #108cbd;
                position: relative;
                top: 0;
                right: 0;
                i {
                    display: inline;
                    color: #ffffff;
                }
                span {
                    display: inline;
                }
            }
        }
        .link-descargar {
            text-decoration: underline;
            color: #108cbd;
            margin-top: 20px;
            margin-bottom: 30px;
            display: inline-block;
            span {
                display: inline-block;
                width: 34px;
                height: 34px;
                background-color: #108cbd;
                text-align: center;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                padding: 5px;
                margin-right: 5px;
                i {
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
        .form-group {
            &:first-of-type {
                margin-top: 20px;
                margin-bottom: 35px;
            }
            &:nth-child(2) {
                margin-bottom: 40px;
            }
        }
        .box-celeste {
            width: calc(100% + 60px);
            position: relative;
            left: -30px;
            display: inline-block;
            background-color: #e9f0f2;
            min-height: 91px;
            padding: 25px 60px;
            margin-top: -20px;
            span,
            strong {
                line-height: 1.4;
            }
        }
        h5 {
            margin-top: 22px;
            display: inline-block;
            font-weight: bold;
            color: #4a4a4a;
            font-size: 14px;
            margin-bottom: 22px;
            display: inline-block;
            text-transform: uppercase;
        }
    }
}

.input-group {
    &.date {
        i {
            font-size: 14px;
        }
    }
}

.login_recuperar {
    background-color: $color-azul1;
    text-align: center;
    @media #{$mobile} {
        background-color: #ffffff;
    }
    section {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.56);
        border: solid 1px #979797;
        margin: 50px 0 0 0;
        display: inline-block;
        float: none;
        width: 100%;
        max-width: 460px;
        text-align: left;
        @media #{$mobile} {
            width: 100%;
            max-width: inherit;
            margin: 0;
            box-shadow: none;
            border: none;
        }
    }
    article {
        float: left;
        width: 100%;
        padding: 50px 7.5% 58px 7.5%;
        background-color: #ffffff;
        @media #{$mobile} {
            padding: 64px 30px 30px 30px;
        }
        img {
            margin-bottom: 40px;
            @media #{$mobile} {
                margin-bottom: 55px;
            }
        }
        h2 {
            margin-bottom: 15px;
            text-align: center;
            @media #{$mobile} {
                margin-bottom: 40px;
                font-size: 21px;
            }
        }
        span {
            text-align: center;
            display: block;
            margin-bottom: 15px;
        }
        .form-group {}
        label {}
        input {}
        input[type="checkbox"] {}
        .checkbox {
            margin-bottom: 25px;
        }
        button {
            margin-bottom: 25px;
        }
        a {
            color: #666666;
            text-decoration: underline;
        }
    }
    .message {
        &.recuperar {
            background-color: #f1f1f1;
            border: solid 1px #e7e7e7;
            text-align: center;
            margin: 0 auto;
            border-bottom: 0;
            padding: 30px 0 60px 0;
            @media #{$mobile} {
                position: fixed;
                bottom: 0;
                padding: 30px 15px 20px 15px;
            }
            i {
                color: #69d17f;
                font-size: 36px;
                margin-bottom: 10px;
            }
        }
    }
}

.box-despacho-exito {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #f0faf1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 20px;
    i {
        font-size: 44px;
        margin-bottom: 5px;
        color: #69d17f;
    }
    h4 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    hr {
        margin-bottom: 20px;
        box-shadow: none;
        border: solid 1px #a4eaad;
    }
    p {
        font-size: 13px;
        margin-bottom: 0;
    }
}

.box-despacho-exito+a {
    position: relative;
    i {
        position: absolute;
        top: 6px;
        left: 20px;
        font-size: 24px;
        color: #ffffff;
    }
}

.datepicker {
    .picker-switch,
    .next span,
    .prev span {
        color: $color-azul1 !important;
        text-transform: capitalize;
    }
    .picker-switch {
        font-weight: bold;
    }
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: $color-azul1;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
    border-radius: 60%;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border: none;
}

.dow {
    text-transform: capitalize;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 6px 0;
}

.niveles-por-estanque-barras {
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    padding-top: 35px;
    h4 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        @media #{$mobile-y-tablet} {
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    h5 {
        font-size: 14px;
        @media #{$mobile-y-tablet} {
            font-size: 13px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    p {
        @media #{$mobile-y-tablet} {
            margin-bottom: 10px;
        }
    }
    span {
        font-size: 12px;
    }
    &.style-1 {
        .container {
            .row {
                div[class^="col-"] {
                    padding-left: 30px;
                    padding-right: 30px;
                    @media #{$mobile-y-tablet} {
                        padding-top: 10px;
                        padding-right: 0;
                        padding-left: 0;
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        border-right: 2px solid #e7e7e7;
                        @media #{$mobile-y-tablet} {
                            border-right: none;
                            border-bottom: 2px solid #e7e7e7;
                        }
                    }
                    &:last-of-type {
                        margin-top: 30px;
                        border-top: solid 1px #e7e7e7;
                        padding: 18px;
                        text-align: right;
                        @media #{$mobile-y-tablet} {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                    >div {
                        @media #{$mobile-y-tablet} {
                            display: table;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                        >div:nth-child(1),
                        >div:nth-child(2) {
                            @media #{$mobile-y-tablet} {
                                display: table-cell;
                                vertical-align: top;
                            }
                        }
                        >div:nth-child(1) {
                            @media #{$mobile-y-tablet} {
                                width: 40%;
                            }
                        }
                        >div:nth-child(2) {
                            @media #{$mobile-y-tablet} {
                                width: 60%;
                                padding-top: 0;
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.style-2 {
        margin-bottom: 20px;
        @media #{$mobile-y-tablet} {
            padding-left: 20px;
            padding-right: 20px;
        }
        div[class^="col-"] {
            padding-left: 30px;
            padding-right: 30px;
            @media #{$mobile-y-tablet} {
                padding-top: 10px;
                padding-right: 0;
                padding-left: 0;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                border-right: 2px solid #e7e7e7;
                @media #{$mobile-y-tablet} {
                    border-right: none;
                    border-bottom: 2px solid #e7e7e7;
                }
            }
            &:last-of-type {
                margin-top: 30px;
                border-top: solid 1px #e7e7e7;
                padding: 18px;
                text-align: right;
                @media #{$mobile-y-tablet} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            >div {
                @media #{$mobile-y-tablet} {
                    display: table;
                    width: 100%;
                    margin-bottom: 10px;
                }
                >div:nth-child(1),
                >div:nth-child(2) {
                    @media #{$mobile-y-tablet} {
                        display: table-cell;
                        vertical-align: top;
                    }
                }
                >div:nth-child(1) {
                    @media #{$mobile-y-tablet} {
                        width: 40%;
                    }
                }
                >div:nth-child(2) {
                    @media #{$mobile-y-tablet} {
                        width: 60%;
                        padding-top: 0;
                        padding-left: 15px;
                    }
                }
            }
        }
        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
            position: relative;
            text-align: left;
            padding-left: 20px;
            @media #{$mobile-y-tablet} {
                position: relative;
                left: -20px;
                width: calc(100% + 40px);
            }
            i {
                font-size: 24px;
                color: #ffffff;
                position: absolute;
                right: 20px;
                top: 5px;
            }
        }
    }
}

.box-anuncio {
    background-image: url(http://lorempixel.com/940/200/sports/2/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 180px;
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    @media #{$mobile} {
        padding-left: 10px;
        min-height: 250px;
    }
    .box-promocion {
        float: right;
        width: 450px;
        min-height: 160px;
        background-color: #108cbd;
        padding: 22px 20px;
        text-align: left;
        @media #{$mobile} {
            width: calc(100% - 20px);
            min-height: 170px;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        h4,
        h5 {
            color: #ffffff;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 22px;
            font-weight: 900;
        }
        h5 {
            font-size: 28px;
        }
        a {
            width: 210px;
            @media #{$mobile} {
                width: 100%;
            }
        }
    }
}

.box-datos {
    width: 100%;
    display: table;
    margin-bottom: 55px;
    @media #{$mobile-y-tablet} {
        display: inline-block;
    }
    .row {
        margin-bottom: 5px;
    }
    >div {
        display: table-cell;
        width: 33.33333334%;
        vertical-align: top;
        min-height: 310px;
        @media #{$mobile-y-tablet} {
            width: 100%;
            min-height: inherit;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
        &:first-of-type {
            padding-right: 10px;
            @media #{$mobile-y-tablet} {
                padding-right: 0;
            }
        }
        &:nth-child(2) {
            padding-left: 10px;
            padding-right: 10px;
            @media #{$mobile-y-tablet} {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &:last-of-type {
            padding-left: 10px;
            @media #{$mobile-y-tablet} {
                padding-left: 0;
            }
        }
        >div {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
            padding: 11px 15px 50px 20px;
            position: relative;
            min-height: 310px;
            font-size: 13px;
            @media #{$mobile-y-tablet} {
                min-height: inherit;
                height: auto;
            }
        }
    }
    .box {
        position: relative;
    }
    .box-mini {
        position: relative;
        width: 100%;
        min-height: 150px;
        &:first-of-type {
            margin-bottom: 10px;
        }
    }
    a {
        &.btn {
            background-color: #108cbd;
            color: #ffffff;
            padding: 9px 20px;
            text-align: left;
            top: inherit;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            i {
                position: absolute;
                top: 6px;
                right: 20px;
                font-size: 24px;
                color: #ffffff;
            }
        }
    }
}

.box-detalle-entrega {
    margin-top: 5px;
    .row {
        border-bottom: solid 1px #82c8e3;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            div:nth-child(2) {
                font-weight: bold;
            }
        }
        &:nth-child(1),
        &:nth-child(2) {
            div {
                background-color: #ffffff;
            }
        }
        &:nth-last-child(2),
        &:last-of-type {
            div:first-of-type {
                background-color: #e9f0f2;
                color: #108cbd;
                font-weight: bold;
                position: relative;
                @media #{$mobile} {
                    font-weight: normal;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 10px);
                    right: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent #ffffff transparent transparent;
                    z-index: 9;
                }
            }
            div:nth-child(2) {
                background-color: #ffffff;
            }
        }
        &:last-of-type {
            border-bottom: none;
        }
        div {
            padding: 21px 18px;
        }
    }
}

.box-detalle-producto {
    padding: 33px 25px 35px 25px;
    background-color: #108cbd;
    h3,
    p {
        color: #ffffff;
    }
    h3 {
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 50px;
        line-height: 120%;
        @media #{$mobile} {
            margin-bottom: 25px;
        }
    }
    a {
        @media #{$tablet} {
            margin-bottom: 25px;
        }
    }
    .img-detalle-producto-lateral {
        float: right;
        @media #{$tablet} {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.catalogo-producto,
.manual-fichas {
    .btn-notificaciones {
        margin-top: 20px;
    }
}

.box-catalogo-producto,
.box-manual-fichas {
    height: 175px;
    margin-bottom: 10px;
    @media #{$mobile-y-tablet} {
        height: auto;
        display: inline-block;
        width: 100%;
    }
    .col-left,
    .col-right {
        height: 175px;
    }
    .col-left {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        @media #{$mobile-y-tablet} {
            height: 175px;
        }
    }
    .col-right {
        padding: 18px 20px 10px 20px;
        background-color: #108cbd;
        @media #{$mobile-y-tablet} {
            padding-bottom: 10px;
            height: auto;
            width: 100%;
            display: inline-block;
        }
        a {
            width: 95%;
            margin-bottom: 0px;
            @media #{$mobile-y-tablet} {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    h4,
    p {
        color: #ffffff;
    }
    h4 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 25px;
    }
}

.manual-fichas {
    &:last-of-type {
        .box-manual-fichas {
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
    .box-manual-fichas {
        &:last-of-type {
            margin-bottom: 40px;
        }
    }
}

.detalle-manuales {
    &.container {
        @media #{$mobile} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.box-detalle-manuales {
    padding-bottom: 40px;
    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    * {
        width: 100% !important;
        float: left;
        display: block;
    }
}

.box-crear-sector-nombre {
    background-color: #108cbd;
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-bottom: 20px;
    padding-top: 20px;
    @media #{$mobile-y-tablet} {
        padding-left: 15px!important;
        padding-right: 15px!important;
        padding-bottom: 25px;
        padding-top: 20px;
    }
    label {
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 13px;
        @media #{$mobile} {
            font-size: 17px;
        }
    }
    .form-group {
        width: 300px;
        @media #{$mobile} {
            width: 100%;
        }
    }
    input {
        height: 40px;
        background-color: #ffffff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px 0 #999999;
        border: solid 1px #e7e7e7;
    }
}

.box-crear-sector-administradores {
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px!important;
    padding-right: 25px!important;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    .error-hide {
        display: none;
    }
    .error-show {
        display: block;
    }
    a {
        i {
            font-size: 20px;
            color: #108cbd;
            position: relative;
            top: 2px;
        }
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        @media #{$mobile} {
            font-size: 15px;
        }
    }
    h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .form-group {
        //width: 300px;
        width: 350px;
        position: relative;
        padding-right: 30px;
        >i {
            font-size: 20px;
            position: absolute;
            top: 9px;
            right: 0;
            color: red;
        }
        @media #{$mobile} {
            width: 100%;
        }
    }
    .content-form {
        display: table;
        width: 100%;
        @media #{$mobile} {
            display: inline-block;
        }
        h5,
        .form-group,
        div.eliminar {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            @media #{$mobile} {
                display: inline-block;
                width: 100%;
            }
        }
        h5 {
            width: 190px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #006a94;
            text-transform: uppercase;
            @media #{$mobile} {
                font-size: 13px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .estanques-del-sector {
        float: left;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        background-color: #f1f1f1;
        border: solid 1px #e7e7e7;
        padding: 12px 15px 20px 15px;
        margin-bottom: 15px;
        .form-group.codigo {
            width: 190px;
            float: left;
            padding-right: 0;
            @media #{$mobile} {
                width: 100%;
            }
        }
        .form-group.administradores {
            width: 355px;
            @media #{$mobile} {
                width: 100%;
            }
        }
        .eliminar {
            text-align: right;
            display: none;
            @media #{$mobile} {
                text-align: left;
            }
            a {
                color: #666666;
                @media #{$mobile} {
                    display: inline-block;
                    margin-top: 7px;
                }
            }
            i {
                color: red;
            }
        }
    }
}

.box-contacta-ejecutivo {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: table;
    background-color: #ffffff;
    padding: 35px 20px 0px 20px;
    .top,
    .inner,
    .bottom {
        width: 100%;
        float: left;
    }
    small {
        text-transform: uppercase;
        font-size: 10px;
        font-style: normal;
        color: #919191;
        display: block;
        margin-bottom: 5px;
    }
    span {
        display: block;
        color: #666666;
        line-height: 1.4;
        margin-bottom: 5px;
    }
    a.link {
        text-decoration: underline;
        color: #108cbd;
        font-weight: 600;
    }
    img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
    .top {
        padding-bottom: 22px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ccc;
            height: 1px;
        }
        >div {
            display: table;
            @media #{$mobile} {
                display: inline-block;
                width: 100%;
            }
            &:first-of-type {
                border-right: 1px solid #ccc;
                @media #{$mobile} {
                    border-right: none;
                }
            }
            &:last-of-type {
                padding-left: 18px;
                @media #{$mobile} {
                    padding-left: 80px;
                }
            }
            >div {
                display: table-cell;
                vertical-align: top;
                &:first-of-type {
                    width: 80px;
                }
                &:last-of-type {
                    width: calc(100% - 82px);
                }
            }
        }
    }
    .inner {
        padding-top: 20px;
        >div {
            &:first-of-type {
                padding-right: 10px;
                @media #{$mobile} {
                    padding-right: 0;
                }
            }
            &:last-of-type {
                padding-left: 10px;
                @media #{$mobile} {
                    padding-left: 0;
                }
            }
        }
    }
    .bottom {}
}

.content-tooltipForm {
    position: relative;
    display: inline-block;
    width: auto;
}

.box-seleccionar-frecuencia {
    display: none;
    width: 600px;
    margin-top: 10px;
    padding: 25px 25px 20px 25px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9;
    @media #{$tablet} {
        width: 400px;
    }
    @media #{$mobile} {
        top: 100%;
        width: 100%;
        margin-top: 0;
        //top: 0;
    }
    &.open {
        display: inline-block;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 15px;
        width: 10px;
        height: 10px;
        background: #FFFFFF;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        @media #{$mobile} {
            width: 0;
            height: 0;
        }
    }
    .container-fluid {
        .row {
            position: relative;
            &:nth-child(1),
            &:nth-child(3) {
                >div {
                    &:nth-child(1) {
                        padding-right: 30px;
                        @media #{$mobile-y-tablet} {
                            padding-right: 0;
                        }
                    }
                    &:nth-child(2) {
                        padding-left: 30px;
                        @media #{$mobile-y-tablet} {
                            padding-left: 0;
                        }
                    }
                }
            }
            &:nth-child(1) {
                >div {
                    &:first-of-type {}
                    &:last-of-type {
                        label {
                            display: block;
                        }
                        .select-pedidos {
                            width: 55px;
                            display: inline-block;
                        }
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;
                            margin-left: 10px;
                        }
                    }
                }
                hr {
                    @media #{$mobile-y-tablet} {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {}
            &:nth-child(3) {
                margin-bottom: 20px;
                hr {
                    @media #{$mobile-y-tablet} {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                margin-bottom: 20px;
                >div {
                    width: calc(100% + 50px);
                    position: relative;
                    left: -25px;
                    background-color: #f1f1f1;
                    padding: 10px 12px;
                    border-top: solid 1px #e7e7e7;
                    border-bottom: solid 1px #e7e7e7;
                    span {
                        font-size: 14px;
                    }
                }
            }
            &:nth-child(5) {
                a.link {
                    display: inline-block;
                    text-transform: uppercase;
                    margin-right: 20px;
                    color: #666666;
                }
                .btn {
                    display: inline-block;
                    width: 100px;
                }
            }
            hr {
                margin-top: 5px;
                margin-bottom: 15px;
                box-shadow: none;
                border: solid 1px #e7e7e7;
            }
        }
    }
}
